@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Romania Craiova Str Stirbei Voda nr 3<br />
    
    <abbr title="Phone">P:</abbr>
    0786764568
</address>

<address>
    <strong>Support:</strong>   <a href="#">mateiasiandreea19@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="#">mateiasiandreea19@gmail.com</a>
</address>
<p>@ViewBag.date</p>